@font-face {
    font-family: 'TTNormsPro';
    src:  url('../files/fonts/TTNormsPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTNormsPro-Bold';
    src:  url('../files/fonts/TTNormsPro-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}